<form action="/tenants/<%=@tenant.id%>" method="POST">
<input type="hidden" name="_method" value="patch">
    
    <input type="text" name="name" value="<%=@tenant.name%>"/>
    
    <select name="tenant[apartment_id]">
    <option disabled selected> --Select an Apartment-- </option>
    <% @apartments.each do |apartment| %>
        <option value=<%= apartment.id %> > 
            <%= apartment.address %> 
        </option>
    <% end %>
    </select>

    <input type="submit" value="Edit Tenant"/>

</form>