<a class="button" href="/apartments">All Apartments</a>

<ul> Tenants:
<%@tenants.each do |tenant|%>
    <a href="/tenants/<%=tenant.id%>">
        <li><%= tenant.name %></li>
    </a>
<%end%>
</ul>

<a href="/tenants/new"> 
    <%="Create New Tenant"%>
</a>